ui/scl/wslib/ws-pretty.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:axis2="http://services.web.service.sqooss.eu" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://event.service.osgi.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://datatypes.services.web.service.impl.sqooss.eu/xsd" xmlns:ns2="http://services.web.service.sqooss.eu/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.web.service.sqooss.eu">
  <wsdl:types>
    <xs:schema xmlns:ax22="http://event.service.osgi.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://event.service.osgi.org/xsd">
      <xs:element name="Event" type="ax22:Event"/>
      <xs:complexType name="Event">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="propertyNames" nillable="true" type="xs:string"/>
          <xs:element name="topic" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax21="http://datatypes.services.web.service.impl.sqooss.eu/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://datatypes.services.web.service.impl.sqooss.eu/xsd">
      <xs:element name="WSConstants" type="ax21:WSConstants"/>
      <xs:complexType name="WSConstants">
        <xs:sequence>
          <xs:element name="metricTypeBugDatabase" nillable="true" type="xs:string"/>
          <xs:element name="metricTypeMailingList" nillable="true" type="xs:string"/>
          <xs:element name="metricTypeProjectWide" nillable="true" type="xs:string"/>
          <xs:element name="metricTypeSourceCode" nillable="true" type="xs:string"/>
          <xs:element name="metricTypeSourceFolder" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSDeveloper" type="ax21:WSDeveloper"/>
      <xs:complexType name="WSDeveloper">
        <xs:sequence>
          <xs:element name="email" nillable="true" type="xs:string"/>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="name" nillable="true" type="xs:string"/>
          <xs:element name="storedProjectId" type="xs:long"/>
          <xs:element name="username" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSDirectory" type="ax21:WSDirectory"/>
      <xs:complexType name="WSDirectory">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="path" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSFileGroup" type="ax21:WSFileGroup"/>
      <xs:complexType name="WSFileGroup">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="lastUsed" type="xs:long"/>
          <xs:element name="name" nillable="true" type="xs:string"/>
          <xs:element name="projectVersionId" type="xs:long"/>
          <xs:element name="recalcFreq" type="xs:int"/>
          <xs:element name="regularExpression" nillable="true" type="xs:string"/>
          <xs:element name="subPath" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSFileModification" type="ax21:WSFileModification"/>
      <xs:complexType name="WSFileModification">
        <xs:sequence>
          <xs:element name="projectFileId" type="xs:long"/>
          <xs:element name="projectVersionNum" nillable="true" type="xs:string"/>
          <xs:element name="projectVersionTimestamp" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSMailMessage" type="ax21:WSMailMessage"/>
      <xs:complexType name="WSMailMessage">
        <xs:sequence>
          <xs:element name="deliveredTimestamp" type="xs:long"/>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="listId" type="xs:long"/>
          <xs:element name="messageId" nillable="true" type="xs:string"/>
          <xs:element name="senderId" type="xs:long"/>
          <xs:element name="sentTimestamp" type="xs:long"/>
          <xs:element name="subject" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSMetricType" type="ax21:WSMetricType"/>
      <xs:complexType name="WSMetricType">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="type" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSMetric" type="ax21:WSMetric"/>
      <xs:complexType name="WSMetric">
        <xs:sequence>
          <xs:element name="activator" nillable="true" type="xs:string"/>
          <xs:element name="description" nillable="true" type="xs:string"/>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="metricTypeId" type="xs:long"/>
          <xs:element name="mnemonic" nillable="true" type="xs:string"/>
          <xs:element name="pluginId" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSMetricsRequest" type="ax21:WSMetricsRequest"/>
      <xs:complexType name="WSMetricsRequest">
        <xs:sequence>
          <xs:element name="isFileGroup" type="xs:boolean"/>
          <xs:element name="isProjectFile" type="xs:boolean"/>
          <xs:element name="isProjectVersion" type="xs:boolean"/>
          <xs:element name="isStoredProject" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" name="resourcesIds" type="xs:long"/>
          <xs:element name="skipResourcesIds" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSProjectFile" type="ax21:WSProjectFile"/>
      <xs:complexType name="WSProjectFile">
        <xs:sequence>
          <xs:element name="directory" type="xs:boolean"/>
          <xs:element name="directoryId" type="xs:long"/>
          <xs:element name="fileName" nillable="true" type="xs:string"/>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="projectVersionId" type="xs:long"/>
          <xs:element name="shortName" nillable="true" type="xs:string"/>
          <xs:element name="status" nillable="true" type="xs:string"/>
          <xs:element name="toDirectoryId" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSProjectVersion" type="ax21:WSProjectVersion"/>
      <xs:complexType name="WSProjectVersion">
        <xs:sequence>
          <xs:element name="commitMsg" nillable="true" type="xs:string"/>
          <xs:element name="committerId" type="xs:long"/>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="projectId" type="xs:long"/>
          <xs:element name="properties" nillable="true" type="xs:string"/>
          <xs:element name="timestamp" type="xs:long"/>
          <xs:element name="version" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSMetricsResultRequest" type="ax21:WSMetricsResultRequest"/>
      <xs:complexType name="WSMetricsResultRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="daObjectId" type="xs:long"/>
          <xs:element name="developer" type="xs:boolean"/>
          <xs:element name="fileGroup" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" name="mnemonics" nillable="true" type="xs:string"/>
          <xs:element name="projectFile" type="xs:boolean"/>
          <xs:element name="projectVersion" type="xs:boolean"/>
          <xs:element name="storedProject" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSResultEntry" type="ax21:WSResultEntry"/>
      <xs:complexType name="WSResultEntry">
        <xs:sequence>
          <xs:element name="daoId" type="xs:long"/>
          <xs:element name="mimeType" nillable="true" type="xs:string"/>
          <xs:element name="mnemonic" nillable="true" type="xs:string"/>
          <xs:element name="result" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSShortBug" type="ax21:WSShortBug"/>
      <xs:complexType name="WSShortBug">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="timestamp" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSShortMailMessage" type="ax21:WSShortMailMessage"/>
      <xs:complexType name="WSShortMailMessage">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="timestamp" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSShortProjectVersion" type="ax21:WSShortProjectVersion"/>
      <xs:complexType name="WSShortProjectVersion">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="timestamp" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSStoredProject" type="ax21:WSStoredProject"/>
      <xs:complexType name="WSStoredProject">
        <xs:sequence>
          <xs:element name="bugs" nillable="true" type="xs:string"/>
          <xs:element name="contact" nillable="true" type="xs:string"/>
          <xs:element name="developers" nillable="true" type="xs:string"/>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="mail" nillable="true" type="xs:string"/>
          <xs:element name="mailingLists" nillable="true" type="xs:string"/>
          <xs:element name="name" nillable="true" type="xs:string"/>
          <xs:element name="repository" nillable="true" type="xs:string"/>
          <xs:element name="website" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSTaggedVersion" type="ax21:WSTaggedVersion"/>
      <xs:complexType name="WSTaggedVersion">
        <xs:sequence>
          <xs:element name="commitMsg" nillable="true" type="xs:string"/>
          <xs:element name="committerId" type="xs:long"/>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="projectId" type="xs:long"/>
          <xs:element name="properties" nillable="true" type="xs:string"/>
          <xs:element name="timestamp" type="xs:long"/>
          <xs:element name="version" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="tags" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSUser" type="ax21:WSUser"/>
      <xs:complexType name="WSUser">
        <xs:sequence>
          <xs:element name="email" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="groups" nillable="true" type="ax21:WSUserGroup"/>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="lastActivity" type="xs:long"/>
          <xs:element name="registered" type="xs:long"/>
          <xs:element name="userName" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSUserGroup" type="ax21:WSUserGroup"/>
      <xs:complexType name="WSUserGroup">
        <xs:sequence>
          <xs:element name="description" nillable="true" type="xs:string"/>
          <xs:element name="id" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="WSVersionStats" type="ax21:WSVersionStats"/>
      <xs:complexType name="WSVersionStats">
        <xs:sequence>
          <xs:element name="addedCount" type="xs:long"/>
          <xs:element name="deletedCount" type="xs:long"/>
          <xs:element name="modifiedCount" type="xs:long"/>
          <xs:element name="versionId" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns="http://services.web.service.sqooss.eu/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.web.service.sqooss.eu/xsd">
      <xs:element name="createPendingUser">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userNameForAccess" nillable="true" type="xs:string"/>
            <xs:element name="passwordForAccess" nillable="true" type="xs:string"/>
            <xs:element name="newUserName" nillable="true" type="xs:string"/>
            <xs:element name="newPassword" nillable="true" type="xs:string"/>
            <xs:element name="email" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createPendingUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteUserById">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userNameForAccess" nillable="true" type="xs:string"/>
            <xs:element name="passwordForAccess" nillable="true" type="xs:string"/>
            <xs:element name="userId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteUserByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="modifyUser">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userNameForAccess" nillable="true" type="xs:string"/>
            <xs:element name="passwordForAccess" nillable="true" type="xs:string"/>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="newPassword" nillable="true" type="xs:string"/>
            <xs:element name="newEmail" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="modifyUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="notifyAdmin">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="title" nillable="true" type="xs:string"/>
            <xs:element name="messageBody" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="notifyAdminResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getConstants">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getConstantsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="ns1:WSConstants"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDevelopersByIds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="developersIds" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDevelopersByIdsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSDeveloper"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRootDirectory">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRootDirectoryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="ns1:WSDirectory"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDirectoriesByIds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="directoriesIds" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDirectoriesByIdsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSDirectory"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFileGroupsByProjectVersionId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectVersionId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFileGroupsByProjectVersionIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSFileGroup"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFileModifications">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectVersionId" nillable="true" type="xs:long"/>
            <xs:element name="projectFileId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFileModificationsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSFileModification"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMailTimeline">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
            <xs:element name="tsmFrom" nillable="true" type="xs:long"/>
            <xs:element name="tsmTill" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMailTimelineResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSMailMessage"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMetricTypesByIds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="metricTypesIds" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMetricTypesByIdsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSMetricType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllMetrics">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllMetricsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSMetric"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMetricsByResourcesIds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="request" nillable="true" type="ns1:WSMetricsRequest"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMetricsByResourcesIdsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSMetric"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectEvaluatedMetrics">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectEvaluatedMetricsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSMetric"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFilesByRegularExpression">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectVersionId" nillable="true" type="xs:long"/>
            <xs:element name="regExpr" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFilesByRegularExpressionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSProjectFile"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFilesInDirectory">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectVersionId" nillable="true" type="xs:long"/>
            <xs:element name="directoryId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFilesInDirectoryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSProjectFile"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNextVersionById">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="versionId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNextVersionByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="ns1:WSProjectVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPreviousVersionById">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="versionId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPreviousVersionByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="ns1:WSProjectVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFirstProjectVersions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="projectsIds" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFirstProjectVersionsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSProjectVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLastProjectVersions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="projectsIds" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLastProjectVersionsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSProjectVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectVersionsByIds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="projectVersionsIds" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectVersionsByIdsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSProjectVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectVersionsByProjectId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectVersionsByProjectIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSProjectVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectVersionsByScmIds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
            <xs:element maxOccurs="unbounded" name="scmIds" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectVersionsByScmIdsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSProjectVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectVersionsByTimestamps">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
            <xs:element maxOccurs="unbounded" name="timestamps" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectVersionsByTimestampsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSProjectVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSCMTimeline">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
            <xs:element name="tsmFrom" nillable="true" type="xs:long"/>
            <xs:element name="tsmTill" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSCMTimelineResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSProjectVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMetricsResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="resultRequest" nillable="true" type="ns1:WSMetricsResultRequest"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMetricsResultResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSResultEntry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getShortBugTimeline">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
            <xs:element name="tsmFrom" nillable="true" type="xs:long"/>
            <xs:element name="tsmTill" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getShortBugTimelineResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSShortBug"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getShortMailTimeline">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
            <xs:element name="tsmFrom" nillable="true" type="xs:long"/>
            <xs:element name="tsmTill" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getShortMailTimelineResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSShortMailMessage"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getShortSCMTimeline">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
            <xs:element name="tsmFrom" nillable="true" type="xs:long"/>
            <xs:element name="tsmTill" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getShortSCMTimelineResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSShortProjectVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectByName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectName" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectByNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="ns1:WSStoredProject"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getEvaluatedProjects">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getEvaluatedProjectsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSStoredProject"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectsByIds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="projectsIds" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProjectsByIdsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSStoredProject"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getStoredProjects">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getStoredProjectsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSStoredProject"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTaggedVersionsByProjectId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTaggedVersionsByProjectIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSTaggedVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUserByName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userNameForAccess" nillable="true" type="xs:string"/>
            <xs:element name="passwordForAccess" nillable="true" type="xs:string"/>
            <xs:element name="userName" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUserByNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="ns1:WSUser"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUserGroups">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUserGroupsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSUserGroup"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUsersByIds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userNameForAccess" nillable="true" type="xs:string"/>
            <xs:element name="passwordForAccess" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="usersIds" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUsersByIdsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSUser"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVersionsStatistics">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="projectVersionsIds" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVersionsStatisticsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ns1:WSVersionStats"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMessageOfTheDay">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMessageOfTheDayResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFilesNumberByProjectVersionId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectVersionId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFilesNumberByProjectVersionIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVersionsCount">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" nillable="true" type="xs:string"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="projectId" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVersionsCountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="handleEvent">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="e" nillable="true" type="ns0:Event"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getShortBugTimelineMessage">
    <wsdl:part name="part1" element="ns2:getShortBugTimeline"/>
  </wsdl:message>
  <wsdl:message name="getShortBugTimelineResponse">
    <wsdl:part name="part1" element="ns2:getShortBugTimelineResponse"/>
  </wsdl:message>
  <wsdl:message name="getMetricTypesByIdsMessage">
    <wsdl:part name="part1" element="ns2:getMetricTypesByIds"/>
  </wsdl:message>
  <wsdl:message name="getMetricTypesByIdsResponse">
    <wsdl:part name="part1" element="ns2:getMetricTypesByIdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getUserGroupsMessage">
    <wsdl:part name="part1" element="ns2:getUserGroups"/>
  </wsdl:message>
  <wsdl:message name="getUserGroupsResponse">
    <wsdl:part name="part1" element="ns2:getUserGroupsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMetricsMessage">
    <wsdl:part name="part1" element="ns2:getAllMetrics"/>
  </wsdl:message>
  <wsdl:message name="getAllMetricsResponse">
    <wsdl:part name="part1" element="ns2:getAllMetricsResponse"/>
  </wsdl:message>
  <wsdl:message name="getProjectsByIdsMessage">
    <wsdl:part name="part1" element="ns2:getProjectsByIds"/>
  </wsdl:message>
  <wsdl:message name="getProjectsByIdsResponse">
    <wsdl:part name="part1" element="ns2:getProjectsByIdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getFileGroupsByProjectVersionIdMessage">
    <wsdl:part name="part1" element="ns2:getFileGroupsByProjectVersionId"/>
  </wsdl:message>
  <wsdl:message name="getFileGroupsByProjectVersionIdResponse">
    <wsdl:part name="part1" element="ns2:getFileGroupsByProjectVersionIdResponse"/>
  </wsdl:message>
  <wsdl:message name="getProjectByNameMessage">
    <wsdl:part name="part1" element="ns2:getProjectByName"/>
  </wsdl:message>
  <wsdl:message name="getProjectByNameResponse">
    <wsdl:part name="part1" element="ns2:getProjectByNameResponse"/>
  </wsdl:message>
  <wsdl:message name="getDirectoriesByIdsMessage">
    <wsdl:part name="part1" element="ns2:getDirectoriesByIds"/>
  </wsdl:message>
  <wsdl:message name="getDirectoriesByIdsResponse">
    <wsdl:part name="part1" element="ns2:getDirectoriesByIdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getUserByNameMessage">
    <wsdl:part name="part1" element="ns2:getUserByName"/>
  </wsdl:message>
  <wsdl:message name="getUserByNameResponse">
    <wsdl:part name="part1" element="ns2:getUserByNameResponse"/>
  </wsdl:message>
  <wsdl:message name="getFilesNumberByProjectVersionIdMessage">
    <wsdl:part name="part1" element="ns2:getFilesNumberByProjectVersionId"/>
  </wsdl:message>
  <wsdl:message name="getFilesNumberByProjectVersionIdResponse">
    <wsdl:part name="part1" element="ns2:getFilesNumberByProjectVersionIdResponse"/>
  </wsdl:message>
  <wsdl:message name="getProjectVersionsByScmIdsMessage">
    <wsdl:part name="part1" element="ns2:getProjectVersionsByScmIds"/>
  </wsdl:message>
  <wsdl:message name="getProjectVersionsByScmIdsResponse">
    <wsdl:part name="part1" element="ns2:getProjectVersionsByScmIdsResponse"/>
  </wsdl:message>
  <wsdl:message name="createPendingUserMessage">
    <wsdl:part name="part1" element="ns2:createPendingUser"/>
  </wsdl:message>
  <wsdl:message name="createPendingUserResponse">
    <wsdl:part name="part1" element="ns2:createPendingUserResponse"/>
  </wsdl:message>
  <wsdl:message name="getFilesInDirectoryMessage">
    <wsdl:part name="part1" element="ns2:getFilesInDirectory"/>
  </wsdl:message>
  <wsdl:message name="getFilesInDirectoryResponse">
    <wsdl:part name="part1" element="ns2:getFilesInDirectoryResponse"/>
  </wsdl:message>
  <wsdl:message name="getUsersByIdsMessage">
    <wsdl:part name="part1" element="ns2:getUsersByIds"/>
  </wsdl:message>
  <wsdl:message name="getUsersByIdsResponse">
    <wsdl:part name="part1" element="ns2:getUsersByIdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getProjectVersionsByIdsMessage">
    <wsdl:part name="part1" element="ns2:getProjectVersionsByIds"/>
  </wsdl:message>
  <wsdl:message name="getProjectVersionsByIdsResponse">
    <wsdl:part name="part1" element="ns2:getProjectVersionsByIdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getConstantsMessage">
    <wsdl:part name="part1" element="ns2:getConstants"/>
  </wsdl:message>
  <wsdl:message name="getConstantsResponse">
    <wsdl:part name="part1" element="ns2:getConstantsResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteUserByIdMessage">
    <wsdl:part name="part1" element="ns2:deleteUserById"/>
  </wsdl:message>
  <wsdl:message name="deleteUserByIdResponse">
    <wsdl:part name="part1" element="ns2:deleteUserByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyUserMessage">
    <wsdl:part name="part1" element="ns2:modifyUser"/>
  </wsdl:message>
  <wsdl:message name="modifyUserResponse">
    <wsdl:part name="part1" element="ns2:modifyUserResponse"/>
  </wsdl:message>
  <wsdl:message name="getRootDirectoryMessage">
    <wsdl:part name="part1" element="ns2:getRootDirectory"/>
  </wsdl:message>
  <wsdl:message name="getRootDirectoryResponse">
    <wsdl:part name="part1" element="ns2:getRootDirectoryResponse"/>
  </wsdl:message>
  <wsdl:message name="getMessageOfTheDayMessage">
    <wsdl:part name="part1" element="ns2:getMessageOfTheDay"/>
  </wsdl:message>
  <wsdl:message name="getMessageOfTheDayResponse">
    <wsdl:part name="part1" element="ns2:getMessageOfTheDayResponse"/>
  </wsdl:message>
  <wsdl:message name="handleEventMessage">
    <wsdl:part name="part1" element="ns2:handleEvent"/>
  </wsdl:message>
  <wsdl:message name=""/>
  <wsdl:message name="getSCMTimelineMessage">
    <wsdl:part name="part1" element="ns2:getSCMTimeline"/>
  </wsdl:message>
  <wsdl:message name="getSCMTimelineResponse">
    <wsdl:part name="part1" element="ns2:getSCMTimelineResponse"/>
  </wsdl:message>
  <wsdl:message name="getProjectEvaluatedMetricsMessage">
    <wsdl:part name="part1" element="ns2:getProjectEvaluatedMetrics"/>
  </wsdl:message>
  <wsdl:message name="getProjectEvaluatedMetricsResponse">
    <wsdl:part name="part1" element="ns2:getProjectEvaluatedMetricsResponse"/>
  </wsdl:message>
  <wsdl:message name="getMailTimelineMessage">
    <wsdl:part name="part1" element="ns2:getMailTimeline"/>
  </wsdl:message>
  <wsdl:message name="getMailTimelineResponse">
    <wsdl:part name="part1" element="ns2:getMailTimelineResponse"/>
  </wsdl:message>
  <wsdl:message name="getProjectVersionsByProjectIdMessage">
    <wsdl:part name="part1" element="ns2:getProjectVersionsByProjectId"/>
  </wsdl:message>
  <wsdl:message name="getProjectVersionsByProjectIdResponse">
    <wsdl:part name="part1" element="ns2:getProjectVersionsByProjectIdResponse"/>
  </wsdl:message>
  <wsdl:message name="getFirstProjectVersionsMessage">
    <wsdl:part name="part1" element="ns2:getFirstProjectVersions"/>
  </wsdl:message>
  <wsdl:message name="getFirstProjectVersionsResponse">
    <wsdl:part name="part1" element="ns2:getFirstProjectVersionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getEvaluatedProjectsMessage">
    <wsdl:part name="part1" element="ns2:getEvaluatedProjects"/>
  </wsdl:message>
  <wsdl:message name="getEvaluatedProjectsResponse">
    <wsdl:part name="part1" element="ns2:getEvaluatedProjectsResponse"/>
  </wsdl:message>
  <wsdl:message name="getFileModificationsMessage">
    <wsdl:part name="part1" element="ns2:getFileModifications"/>
  </wsdl:message>
  <wsdl:message name="getFileModificationsResponse">
    <wsdl:part name="part1" element="ns2:getFileModificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="getVersionsCountMessage">
    <wsdl:part name="part1" element="ns2:getVersionsCount"/>
  </wsdl:message>
  <wsdl:message name="getVersionsCountResponse">
    <wsdl:part name="part1" element="ns2:getVersionsCountResponse"/>
  </wsdl:message>
  <wsdl:message name="getShortMailTimelineMessage">
    <wsdl:part name="part1" element="ns2:getShortMailTimeline"/>
  </wsdl:message>
  <wsdl:message name="getShortMailTimelineResponse">
    <wsdl:part name="part1" element="ns2:getShortMailTimelineResponse"/>
  </wsdl:message>
  <wsdl:message name="notifyAdminMessage">
    <wsdl:part name="part1" element="ns2:notifyAdmin"/>
  </wsdl:message>
  <wsdl:message name="notifyAdminResponse">
    <wsdl:part name="part1" element="ns2:notifyAdminResponse"/>
  </wsdl:message>
  <wsdl:message name="getDevelopersByIdsMessage">
    <wsdl:part name="part1" element="ns2:getDevelopersByIds"/>
  </wsdl:message>
  <wsdl:message name="getDevelopersByIdsResponse">
    <wsdl:part name="part1" element="ns2:getDevelopersByIdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getNextVersionByIdMessage">
    <wsdl:part name="part1" element="ns2:getNextVersionById"/>
  </wsdl:message>
  <wsdl:message name="getNextVersionByIdResponse">
    <wsdl:part name="part1" element="ns2:getNextVersionByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="getFilesByRegularExpressionMessage">
    <wsdl:part name="part1" element="ns2:getFilesByRegularExpression"/>
  </wsdl:message>
  <wsdl:message name="getFilesByRegularExpressionResponse">
    <wsdl:part name="part1" element="ns2:getFilesByRegularExpressionResponse"/>
  </wsdl:message>
  <wsdl:message name="getLastProjectVersionsMessage">
    <wsdl:part name="part1" element="ns2:getLastProjectVersions"/>
  </wsdl:message>
  <wsdl:message name="getLastProjectVersionsResponse">
    <wsdl:part name="part1" element="ns2:getLastProjectVersionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getShortSCMTimelineMessage">
    <wsdl:part name="part1" element="ns2:getShortSCMTimeline"/>
  </wsdl:message>
  <wsdl:message name="getShortSCMTimelineResponse">
    <wsdl:part name="part1" element="ns2:getShortSCMTimelineResponse"/>
  </wsdl:message>
  <wsdl:message name="getMetricsByResourcesIdsMessage">
    <wsdl:part name="part1" element="ns2:getMetricsByResourcesIds"/>
  </wsdl:message>
  <wsdl:message name="getMetricsByResourcesIdsResponse">
    <wsdl:part name="part1" element="ns2:getMetricsByResourcesIdsResponse"/>
  </wsdl:message>
  <wsdl:message name="getPreviousVersionByIdMessage">
    <wsdl:part name="part1" element="ns2:getPreviousVersionById"/>
  </wsdl:message>
  <wsdl:message name="getPreviousVersionByIdResponse">
    <wsdl:part name="part1" element="ns2:getPreviousVersionByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="getProjectVersionsByTimestampsMessage">
    <wsdl:part name="part1" element="ns2:getProjectVersionsByTimestamps"/>
  </wsdl:message>
  <wsdl:message name="getProjectVersionsByTimestampsResponse">
    <wsdl:part name="part1" element="ns2:getProjectVersionsByTimestampsResponse"/>
  </wsdl:message>
  <wsdl:message name="getStoredProjectsMessage">
    <wsdl:part name="part1" element="ns2:getStoredProjects"/>
  </wsdl:message>
  <wsdl:message name="getStoredProjectsResponse">
    <wsdl:part name="part1" element="ns2:getStoredProjectsResponse"/>
  </wsdl:message>
  <wsdl:message name="getVersionsStatisticsMessage">
    <wsdl:part name="part1" element="ns2:getVersionsStatistics"/>
  </wsdl:message>
  <wsdl:message name="getVersionsStatisticsResponse">
    <wsdl:part name="part1" element="ns2:getVersionsStatisticsResponse"/>
  </wsdl:message>
  <wsdl:message name="getMetricsResultMessage">
    <wsdl:part name="part1" element="ns2:getMetricsResult"/>
  </wsdl:message>
  <wsdl:message name="getMetricsResultResponse">
    <wsdl:part name="part1" element="ns2:getMetricsResultResponse"/>
  </wsdl:message>
  <wsdl:message name="getTaggedVersionsByProjectIdMessage">
    <wsdl:part name="part1" element="ns2:getTaggedVersionsByProjectId"/>
  </wsdl:message>
  <wsdl:message name="getTaggedVersionsByProjectIdResponse">
    <wsdl:part name="part1" element="ns2:getTaggedVersionsByProjectIdResponse"/>
  </wsdl:message>
  <wsdl:portType name="wsPortType">
    <wsdl:operation name="getShortBugTimeline">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getShortBugTimelineMessage" wsaw:Action="urn:getShortBugTimeline"/>
      <wsdl:output message="axis2:getShortBugTimelineResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMetricTypesByIds">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getMetricTypesByIdsMessage" wsaw:Action="urn:getMetricTypesByIds"/>
      <wsdl:output message="axis2:getMetricTypesByIdsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUserGroups">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getUserGroupsMessage" wsaw:Action="urn:getUserGroups"/>
      <wsdl:output message="axis2:getUserGroupsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAllMetrics">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getAllMetricsMessage" wsaw:Action="urn:getAllMetrics"/>
      <wsdl:output message="axis2:getAllMetricsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getProjectsByIds">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getProjectsByIdsMessage" wsaw:Action="urn:getProjectsByIds"/>
      <wsdl:output message="axis2:getProjectsByIdsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getFileGroupsByProjectVersionId">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getFileGroupsByProjectVersionIdMessage" wsaw:Action="urn:getFileGroupsByProjectVersionId"/>
      <wsdl:output message="axis2:getFileGroupsByProjectVersionIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getProjectByName">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getProjectByNameMessage" wsaw:Action="urn:getProjectByName"/>
      <wsdl:output message="axis2:getProjectByNameResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getDirectoriesByIds">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getDirectoriesByIdsMessage" wsaw:Action="urn:getDirectoriesByIds"/>
      <wsdl:output message="axis2:getDirectoriesByIdsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUserByName">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getUserByNameMessage" wsaw:Action="urn:getUserByName"/>
      <wsdl:output message="axis2:getUserByNameResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getFilesNumberByProjectVersionId">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getFilesNumberByProjectVersionIdMessage" wsaw:Action="urn:getFilesNumberByProjectVersionId"/>
      <wsdl:output message="axis2:getFilesNumberByProjectVersionIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByScmIds">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getProjectVersionsByScmIdsMessage" wsaw:Action="urn:getProjectVersionsByScmIds"/>
      <wsdl:output message="axis2:getProjectVersionsByScmIdsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createPendingUser">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:createPendingUserMessage" wsaw:Action="urn:createPendingUser"/>
      <wsdl:output message="axis2:createPendingUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getFilesInDirectory">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getFilesInDirectoryMessage" wsaw:Action="urn:getFilesInDirectory"/>
      <wsdl:output message="axis2:getFilesInDirectoryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUsersByIds">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getUsersByIdsMessage" wsaw:Action="urn:getUsersByIds"/>
      <wsdl:output message="axis2:getUsersByIdsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByIds">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getProjectVersionsByIdsMessage" wsaw:Action="urn:getProjectVersionsByIds"/>
      <wsdl:output message="axis2:getProjectVersionsByIdsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getConstants">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getConstantsMessage" wsaw:Action="urn:getConstants"/>
      <wsdl:output message="axis2:getConstantsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteUserById">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:deleteUserByIdMessage" wsaw:Action="urn:deleteUserById"/>
      <wsdl:output message="axis2:deleteUserByIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:modifyUserMessage" wsaw:Action="urn:modifyUser"/>
      <wsdl:output message="axis2:modifyUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getRootDirectory">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getRootDirectoryMessage" wsaw:Action="urn:getRootDirectory"/>
      <wsdl:output message="axis2:getRootDirectoryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMessageOfTheDay">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getMessageOfTheDayMessage" wsaw:Action="urn:getMessageOfTheDay"/>
      <wsdl:output message="axis2:getMessageOfTheDayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="handleEvent">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:handleEventMessage" wsaw:Action="urn:handleEvent"/>
      <wsdl:output message="axis2:null"/>
    </wsdl:operation>
    <wsdl:operation name="getSCMTimeline">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getSCMTimelineMessage" wsaw:Action="urn:getSCMTimeline"/>
      <wsdl:output message="axis2:getSCMTimelineResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getProjectEvaluatedMetrics">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getProjectEvaluatedMetricsMessage" wsaw:Action="urn:getProjectEvaluatedMetrics"/>
      <wsdl:output message="axis2:getProjectEvaluatedMetricsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMailTimeline">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getMailTimelineMessage" wsaw:Action="urn:getMailTimeline"/>
      <wsdl:output message="axis2:getMailTimelineResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByProjectId">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getProjectVersionsByProjectIdMessage" wsaw:Action="urn:getProjectVersionsByProjectId"/>
      <wsdl:output message="axis2:getProjectVersionsByProjectIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getFirstProjectVersions">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getFirstProjectVersionsMessage" wsaw:Action="urn:getFirstProjectVersions"/>
      <wsdl:output message="axis2:getFirstProjectVersionsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getEvaluatedProjects">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getEvaluatedProjectsMessage" wsaw:Action="urn:getEvaluatedProjects"/>
      <wsdl:output message="axis2:getEvaluatedProjectsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getFileModifications">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getFileModificationsMessage" wsaw:Action="urn:getFileModifications"/>
      <wsdl:output message="axis2:getFileModificationsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getVersionsCount">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getVersionsCountMessage" wsaw:Action="urn:getVersionsCount"/>
      <wsdl:output message="axis2:getVersionsCountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getShortMailTimeline">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getShortMailTimelineMessage" wsaw:Action="urn:getShortMailTimeline"/>
      <wsdl:output message="axis2:getShortMailTimelineResponse"/>
    </wsdl:operation>
    <wsdl:operation name="notifyAdmin">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:notifyAdminMessage" wsaw:Action="urn:notifyAdmin"/>
      <wsdl:output message="axis2:notifyAdminResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getDevelopersByIds">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getDevelopersByIdsMessage" wsaw:Action="urn:getDevelopersByIds"/>
      <wsdl:output message="axis2:getDevelopersByIdsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getNextVersionById">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getNextVersionByIdMessage" wsaw:Action="urn:getNextVersionById"/>
      <wsdl:output message="axis2:getNextVersionByIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getFilesByRegularExpression">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getFilesByRegularExpressionMessage" wsaw:Action="urn:getFilesByRegularExpression"/>
      <wsdl:output message="axis2:getFilesByRegularExpressionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLastProjectVersions">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getLastProjectVersionsMessage" wsaw:Action="urn:getLastProjectVersions"/>
      <wsdl:output message="axis2:getLastProjectVersionsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getShortSCMTimeline">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getShortSCMTimelineMessage" wsaw:Action="urn:getShortSCMTimeline"/>
      <wsdl:output message="axis2:getShortSCMTimelineResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMetricsByResourcesIds">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getMetricsByResourcesIdsMessage" wsaw:Action="urn:getMetricsByResourcesIds"/>
      <wsdl:output message="axis2:getMetricsByResourcesIdsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPreviousVersionById">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getPreviousVersionByIdMessage" wsaw:Action="urn:getPreviousVersionById"/>
      <wsdl:output message="axis2:getPreviousVersionByIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByTimestamps">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getProjectVersionsByTimestampsMessage" wsaw:Action="urn:getProjectVersionsByTimestamps"/>
      <wsdl:output message="axis2:getProjectVersionsByTimestampsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getStoredProjects">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getStoredProjectsMessage" wsaw:Action="urn:getStoredProjects"/>
      <wsdl:output message="axis2:getStoredProjectsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getVersionsStatistics">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getVersionsStatisticsMessage" wsaw:Action="urn:getVersionsStatistics"/>
      <wsdl:output message="axis2:getVersionsStatisticsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="initComponents">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:null" wsaw:Action="urn:initComponents"/>
      <wsdl:output message="axis2:null"/>
    </wsdl:operation>
    <wsdl:operation name="getMetricsResult">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getMetricsResultMessage" wsaw:Action="urn:getMetricsResult"/>
      <wsdl:output message="axis2:getMetricsResultResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getTaggedVersionsByProjectId">
      <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getTaggedVersionsByProjectIdMessage" wsaw:Action="urn:getTaggedVersionsByProjectId"/>
      <wsdl:output message="axis2:getTaggedVersionsByProjectIdResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSOAP11Binding" type="axis2:wsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getShortBugTimeline">
      <soap:operation soapAction="urn:getShortBugTimeline" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetricTypesByIds">
      <soap:operation soapAction="urn:getMetricTypesByIds" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserGroups">
      <soap:operation soapAction="urn:getUserGroups" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMetrics">
      <soap:operation soapAction="urn:getAllMetrics" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectsByIds">
      <soap:operation soapAction="urn:getProjectsByIds" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileGroupsByProjectVersionId">
      <soap:operation soapAction="urn:getFileGroupsByProjectVersionId" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectByName">
      <soap:operation soapAction="urn:getProjectByName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirectoriesByIds">
      <soap:operation soapAction="urn:getDirectoriesByIds" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByName">
      <soap:operation soapAction="urn:getUserByName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilesNumberByProjectVersionId">
      <soap:operation soapAction="urn:getFilesNumberByProjectVersionId" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByScmIds">
      <soap:operation soapAction="urn:getProjectVersionsByScmIds" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPendingUser">
      <soap:operation soapAction="urn:createPendingUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilesInDirectory">
      <soap:operation soapAction="urn:getFilesInDirectory" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByIds">
      <soap:operation soapAction="urn:getUsersByIds" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByIds">
      <soap:operation soapAction="urn:getProjectVersionsByIds" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConstants">
      <soap:operation soapAction="urn:getConstants" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserById">
      <soap:operation soapAction="urn:deleteUserById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <soap:operation soapAction="urn:modifyUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRootDirectory">
      <soap:operation soapAction="urn:getRootDirectory" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageOfTheDay">
      <soap:operation soapAction="urn:getMessageOfTheDay" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="handleEvent">
      <soap:operation soapAction="urn:handleEvent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSCMTimeline">
      <soap:operation soapAction="urn:getSCMTimeline" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectEvaluatedMetrics">
      <soap:operation soapAction="urn:getProjectEvaluatedMetrics" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailTimeline">
      <soap:operation soapAction="urn:getMailTimeline" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByProjectId">
      <soap:operation soapAction="urn:getProjectVersionsByProjectId" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFirstProjectVersions">
      <soap:operation soapAction="urn:getFirstProjectVersions" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvaluatedProjects">
      <soap:operation soapAction="urn:getEvaluatedProjects" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileModifications">
      <soap:operation soapAction="urn:getFileModifications" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionsCount">
      <soap:operation soapAction="urn:getVersionsCount" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShortMailTimeline">
      <soap:operation soapAction="urn:getShortMailTimeline" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyAdmin">
      <soap:operation soapAction="urn:notifyAdmin" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDevelopersByIds">
      <soap:operation soapAction="urn:getDevelopersByIds" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNextVersionById">
      <soap:operation soapAction="urn:getNextVersionById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilesByRegularExpression">
      <soap:operation soapAction="urn:getFilesByRegularExpression" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastProjectVersions">
      <soap:operation soapAction="urn:getLastProjectVersions" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShortSCMTimeline">
      <soap:operation soapAction="urn:getShortSCMTimeline" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetricsByResourcesIds">
      <soap:operation soapAction="urn:getMetricsByResourcesIds" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPreviousVersionById">
      <soap:operation soapAction="urn:getPreviousVersionById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByTimestamps">
      <soap:operation soapAction="urn:getProjectVersionsByTimestamps" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStoredProjects">
      <soap:operation soapAction="urn:getStoredProjects" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionsStatistics">
      <soap:operation soapAction="urn:getVersionsStatistics" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initComponents">
      <soap:operation soapAction="urn:initComponents" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetricsResult">
      <soap:operation soapAction="urn:getMetricsResult" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaggedVersionsByProjectId">
      <soap:operation soapAction="urn:getTaggedVersionsByProjectId" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSOAP12Binding" type="axis2:wsPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getShortBugTimeline">
      <soap12:operation soapAction="urn:getShortBugTimeline" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetricTypesByIds">
      <soap12:operation soapAction="urn:getMetricTypesByIds" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserGroups">
      <soap12:operation soapAction="urn:getUserGroups" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMetrics">
      <soap12:operation soapAction="urn:getAllMetrics" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectsByIds">
      <soap12:operation soapAction="urn:getProjectsByIds" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileGroupsByProjectVersionId">
      <soap12:operation soapAction="urn:getFileGroupsByProjectVersionId" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectByName">
      <soap12:operation soapAction="urn:getProjectByName" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirectoriesByIds">
      <soap12:operation soapAction="urn:getDirectoriesByIds" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByName">
      <soap12:operation soapAction="urn:getUserByName" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilesNumberByProjectVersionId">
      <soap12:operation soapAction="urn:getFilesNumberByProjectVersionId" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByScmIds">
      <soap12:operation soapAction="urn:getProjectVersionsByScmIds" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPendingUser">
      <soap12:operation soapAction="urn:createPendingUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilesInDirectory">
      <soap12:operation soapAction="urn:getFilesInDirectory" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByIds">
      <soap12:operation soapAction="urn:getUsersByIds" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByIds">
      <soap12:operation soapAction="urn:getProjectVersionsByIds" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConstants">
      <soap12:operation soapAction="urn:getConstants" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserById">
      <soap12:operation soapAction="urn:deleteUserById" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <soap12:operation soapAction="urn:modifyUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRootDirectory">
      <soap12:operation soapAction="urn:getRootDirectory" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageOfTheDay">
      <soap12:operation soapAction="urn:getMessageOfTheDay" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="handleEvent">
      <soap12:operation soapAction="urn:handleEvent" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSCMTimeline">
      <soap12:operation soapAction="urn:getSCMTimeline" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectEvaluatedMetrics">
      <soap12:operation soapAction="urn:getProjectEvaluatedMetrics" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailTimeline">
      <soap12:operation soapAction="urn:getMailTimeline" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByProjectId">
      <soap12:operation soapAction="urn:getProjectVersionsByProjectId" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFirstProjectVersions">
      <soap12:operation soapAction="urn:getFirstProjectVersions" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvaluatedProjects">
      <soap12:operation soapAction="urn:getEvaluatedProjects" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileModifications">
      <soap12:operation soapAction="urn:getFileModifications" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionsCount">
      <soap12:operation soapAction="urn:getVersionsCount" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShortMailTimeline">
      <soap12:operation soapAction="urn:getShortMailTimeline" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyAdmin">
      <soap12:operation soapAction="urn:notifyAdmin" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDevelopersByIds">
      <soap12:operation soapAction="urn:getDevelopersByIds" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNextVersionById">
      <soap12:operation soapAction="urn:getNextVersionById" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilesByRegularExpression">
      <soap12:operation soapAction="urn:getFilesByRegularExpression" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastProjectVersions">
      <soap12:operation soapAction="urn:getLastProjectVersions" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShortSCMTimeline">
      <soap12:operation soapAction="urn:getShortSCMTimeline" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetricsByResourcesIds">
      <soap12:operation soapAction="urn:getMetricsByResourcesIds" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPreviousVersionById">
      <soap12:operation soapAction="urn:getPreviousVersionById" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectVersionsByTimestamps">
      <soap12:operation soapAction="urn:getProjectVersionsByTimestamps" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStoredProjects">
      <soap12:operation soapAction="urn:getStoredProjects" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionsStatistics">
      <soap12:operation soapAction="urn:getVersionsStatistics" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initComponents">
      <soap12:operation soapAction="urn:initComponents" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetricsResult">
      <soap12:operation soapAction="urn:getMetricsResult" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaggedVersionsByProjectId">
      <soap12:operation soapAction="urn:getTaggedVersionsByProjectId" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port name="wsSOAP11port_http" binding="axis2:wsSOAP11Binding">
      <soap:address location="http://localhost:8088//services/ws"/>
    </wsdl:port>
    <wsdl:port name="wsSOAP12port_http" binding="axis2:wsSOAP12Binding">
      <soap12:address location="http://localhost:8088//services/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
